In [16]:
import time
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

print ("Hej, żeby wspomóc mój projekt")
time.sleep(1.25)
print ("Zarejestruj się!")
time.sleep(1.3)

#REJESTRACJA#

import tkinter as tkr

master = tkr.Tk()
userlist = []



"""Okienko do rejestracji"""
master.title("Rejestracja")
master.geometry("250x150")

tkr.Label(master, text="Rejestracja nowego użytkownika").grid(row=0, columnspan=3)
tkr.Label(master, text="Nazwa użytkownika").grid(row=1)
tkr.Label(master, text="Adres email").grid(row=2)
tkr.Label(master, text="Hasło").grid(row=3)


e1 = tkr.Entry(master)
e2 = tkr.Entry(master)
e3 = tkr.Entry(master,show='*')


e1.grid(row=1, column=1)
e2.grid(row=2, column=1)
e3.grid(row=3, column=1)



def rejestracja():
    userlist.append([e1.get(), e2.get(), e3.get()])
    print(userlist)
    userverification = tkr.Tk()
    userverification.title("Rejestracja nowego użytkownika")
    userverification.geometry("180x100")
    tkr.Label(userverification, text="Twoje konto zostało utworzone!").grid(row=1)

"""Przyciski"""
button1 = tkr.Button(master, width=10,height=1, text="Zarejestruj się", command=rejestracja)
button1.grid(row=4,column=1, padx=3, pady=3)
button2 = tkr.Button(master, width=18,height=1, text="Nie chce się rejestrować", command=master.destroy)
button2.grid(row=4,column=0, padx=3, pady=3)

tkr.mainloop()

print("")
print("Zaczynamy!")
print("")
time.sleep(1)
print ("Mój model LSTM przewiduje cenę bitcoina")

Hej, żeby wspomóc mój projekt
Zarejestruj się!
[['', '', '']]

Zaczynamy!

Mój model LSTM przewiduje cenę bitcoina

In [17]:
data = pd.read_csv('BTC-USD.csv', date_parser = True)

In [18]:
data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100

In [19]:
data_training = data[data['Date']< '2020-07-07']
data_training

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
1,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
3,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
4,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...,...
2115,2020-07-02,9231.139648,9274.962891,9036.623047,9123.410156,9123.410156,16338916796
2116,2020-07-03,9124.842773,9202.344727,9058.794922,9087.303711,9087.303711,13078970999
2117,2020-07-04,9084.233398,9183.295898,9053.629883,9132.488281,9132.488281,12290528515
2118,2020-07-05,9126.090820,9162.183594,8977.015625,9073.942383,9073.942383,12903406143
2119,2020-07-06,9072.849609,9375.474609,9058.664063,9375.474609,9375.474609,17889263252

In [20]:
data_test = data[data['Date']>= '2020-07-07']
data_test

,Date,Open,High,Low,Close,Adj Close,Volume
2120,2020-07-07,9349.161133,9360.617188,9201.815430,9252.277344,9252.277344,13839652595
2121,2020-07-08,9253.020508,9450.335938,9249.500000,9428.333008,9428.333008,19702359883
2122,2020-07-09,9427.994141,9431.378906,9234.999023,9277.967773,9277.967773,18000702524
2123,2020-07-10,9273.357422,9287.471680,9118.001953,9278.807617,9278.807617,16860035605
2124,2020-07-11,9277.511719,9293.532227,9199.485352,9240.346680,9240.346680,13249910444
...,...,...,...,...,...,...,...
2342,2021-02-14,47114.507813,49487.640625,47114.507813,48717.289063,48717.289063,71248675228
2343,2021-02-15,48696.535156,48875.570313,46347.476563,47945.058594,47945.058594,77069903166
2344,2021-02-16,49154.136384,51271.873321,49154.142124,51932.972390,51932.972390,78037666372
2345,2021-02-17,49207.277344,52533.914063,49072.378906,52149.007813,52149.007813,80820545404
2346,2021-02-18,52114.332031,52472.164063,51123.453125,51965.964844,51965.964844,54258425856

In [21]:
data_training = data_training.drop(['Date', 'Adj Close'], axis = 1)
data_training.head()

         Open        High         Low       Close    Volume
0  465.864014  468.174011  452.421997  457.334015  21056800
1  456.859985  456.859985  413.104004  424.440002  34483200
2  424.102997  427.834991  384.532013  394.795990  37919700
3  394.673004  423.295990  389.882996  408.903992  36863600
4  408.084991  412.425995  393.181000  398.821014  26580100

In [22]:
scaler = MinMaxScaler()
data_training = scaler.fit_transform(data_training)
data_training

array([[1.49732345e-02, 1.29013200e-02, 1.49400698e-02, 1.44534769e-02,
        2.04208427e-04],
       [1.45066780e-02, 1.23321258e-02, 1.28489753e-02, 1.27508263e-02,
        3.85277136e-04],
       [1.28093283e-02, 1.08719155e-02, 1.13293978e-02, 1.12164013e-02,
        4.31621846e-04],
       ...,
       [4.61546236e-01, 4.51347964e-01, 4.72388116e-01, 4.63494355e-01,
        1.65670558e-01],
       [4.63715137e-01, 4.50285831e-01, 4.68313451e-01, 4.60463919e-01,
        1.73935838e-01],
       [4.60956369e-01, 4.61016230e-01, 4.72655855e-01, 4.76071744e-01,
        2.41175211e-01]])

In [23]:
X_train = []
y_train = []

for i in range(60, data_training.shape[0]):
    X_train.append(data_training[i-60:i])
    y_train.append(data_training[i, 0])
    
X_train, y_train = np.array(X_train), np.array(y_train)

In [24]:
X_train.shape, y_train.shape

((2060, 60, 5), (2060,))

In [25]:
# lSTM

In [26]:
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dropout, Dense, LSTM

In [27]:
regressor = Sequential()

regressor.add(LSTM(units = 60, activation = 'relu', return_sequences = True, input_shape = (X_train.shape[1], 5)))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 60, activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 80, activation = 'relu', return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 120, activation = 'relu'))
regressor.add(Dropout(0.2))

regressor.add(Dense(units = 1))

In [28]:
regressor.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm (LSTM)                  (None, 60, 60)            15840
_________________________________________________________________
dropout (Dropout)            (None, 60, 60)            0
_________________________________________________________________
lstm_1 (LSTM)                (None, 60, 60)            29040
_________________________________________________________________
dropout_1 (Dropout)          (None, 60, 60)            0
_________________________________________________________________
lstm_2 (LSTM)                (None, 60, 80)            45120
_________________________________________________________________
dropout_2 (Dropout)          (None, 60, 80)            0
_________________________________________________________________
lstm_3 (LSTM)                (None, 120)               96480
_________________________________________________________________
dropout_3 (Dropout)          (None, 120)               0
_________________________________________________________________
dense (Dense)                (None, 1)                 121
=================================================================
Total params: 186,601
Trainable params: 186,601
Non-trainable params: 0
_________________________________________________________________

In [29]:
regressor.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [30]:
regressor.fit(X_train, y_train, epochs = 25, batch_size = 32)

Epoch 1/25
65/65 [==============================] - 10s 85ms/step - loss: 0.0253
Epoch 2/25
65/65 [==============================] - 5s 79ms/step - loss: 0.0043
Epoch 3/25
65/65 [==============================] - 5s 77ms/step - loss: 0.0033
Epoch 4/25
65/65 [==============================] - 5s 78ms/step - loss: 0.0023
Epoch 5/25
65/65 [==============================] - 5s 78ms/step - loss: 0.0018
Epoch 6/25
65/65 [==============================] - 5s 79ms/step - loss: 0.0024
Epoch 7/25
65/65 [==============================] - 5s 78ms/step - loss: 0.0019
Epoch 8/25
65/65 [==============================] - 5s 80ms/step - loss: 0.0020
Epoch 9/25
65/65 [==============================] - 5s 79ms/step - loss: 0.0021
Epoch 10/25
65/65 [==============================] - 5s 82ms/step - loss: 0.0016
Epoch 11/25
65/65 [==============================] - 5s 83ms/step - loss: 0.0024
Epoch 12/25
65/65 [==============================] - 6s 86ms/step - loss: 0.0014
Epoch 13/25
65/65 [==============================] - 6s 86ms/step - loss: 0.0015
Epoch 14/25
65/65 [==============================] - 6s 85ms/step - loss: 0.0018
Epoch 15/25
65/65 [==============================] - 6s 87ms/step - loss: 0.0014
Epoch 16/25
65/65 [==============================] - 6s 87ms/step - loss: 0.0014
Epoch 17/25
65/65 [==============================] - 6s 88ms/step - loss: 0.0013
Epoch 18/25
65/65 [==============================] - 6s 88ms/step - loss: 0.0011
Epoch 19/25
65/65 [==============================] - 6s 89ms/step - loss: 0.0013: - ETA: 0s - loss: 0.
Epoch 20/25
65/65 [==============================] - 6s 89ms/step - loss: 0.0012
Epoch 21/25
65/65 [==============================] - 6s 91ms/step - loss: 0.0015
Epoch 22/25
65/65 [==============================] - 6s 90ms/step - loss: 0.0011
Epoch 23/25
65/65 [==============================] - 6s 93ms/step - loss: 0.0012
Epoch 24/25
65/65 [==============================] - 6s 91ms/step - loss: 0.0012: 0s - loss:
Epoch 25/25
65/65 [==============================] - 6s 92ms/step - loss: 9.8936e-04

In [ ]:
data_test.head()

In [ ]:
data_training = data[data['Date']<'2020-07-07']
data_training.tail(60)

In [ ]:
past_60_days = data_training.tail(60)

In [ ]:
df = past_60_days.append(data_test, ignore_index = True)
df = df.drop(['Date', 'Adj Close'], axis =1)
df.head()

In [ ]:
inputs = scaler.transform(df)
inputs

In [ ]:
X_test = []
y_test = []

for i in range(60, inputs.shape[0]):
    X_test.append(inputs[i-60:i])
    y_test.append(inputs[i, 0])

X_test, y_test = np.array(X_test), np.array(y_test)
X_test.shape, y_test.shape

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
scaler.scale_

In [ ]:
scale = 1/5.18164146e-05
scale

In [ ]:
y_pred = y_pred*scale
y_test = y_test*scale

In [ ]:
### wykres ###

plt.figure(figsize=(15,5))
plt.plot(y_test, color = 'red', label = 'Rzeczywista Cena Bitcoina')
plt.plot(y_pred, color = 'blue', label = 'Przewidywana Cena Bitcoina')
plt.title('Cena Bitcoina - Rzeczywista vs przewidzywana')
plt.xlabel('Okres czasu')
plt.ylabel('Cena Bitcoina')
plt.legend()
plt.show()